@import './panel'
@import './thumbview'
@import './canvas'

.thumbview
.canvas
.modal-overlay
  position: fixed
  width: 100%
  height: 100%
  top: 0
  left: 0

.modal-overlay
  z-index: 100
  text-align: center
  background: rgba(0,0,0,0.8)
  overflow-x: hidden
  overflow-y: auto
  white-space: nowrap
  .modal-stick
    height: 100%
    width: 1px
    margin-right: -1px
    overflow: hidden
  .modal-content
    background: white
  .modal-stick
  .modal-content
    display: inline-block
    vertical-align: middle
    text-align: left

.config-form-modal
  position: relative
  width: 500px
  padding: 60px 30px
  .control-label
    width: 18%
    margin-right: 20px
  .form-control
    width: 78%
  h3
    position: absolute
    top: 15px
    left: @top
    font-size: 13px
    font-weight: 700
    color: #959595
