.aside
  position: fixed
  top: 20px
  left: 10px
  z-index: 10
  .panel
    li
      margin-top: 10px
    .btn
      width: 40px
      height: @width
      line-height: @height
      border-radius: 50%
      border: 3px solid white
      display: block
      background: rgba(black, 0.3)
      text-align: center
      color: white
      font-weight: bold
      &:hover
        background: black
