.backdrop
  margin: 0
  padding: 0
  border: 0
  min-width: 960px
  padding: 50px 30px
  .list
    list-style: none
    font-size: 0
    width: 100%
    display: flex
    justify-content: space-between
    flex-wrap: wrap
    .item
      display: inline-block
      list-style: none
      font-size: 0
      border-radius: 5px
      margin: 10px 5px
      box-shadow(0 2px 5px 0 rgba(0,0,0,0.26))
      &:hover
        transform: scale(1.05)
        transition: all 0.2s ease-in-out
      .thumb
        display: inline-block
        border-radius: 5px
    .current
      border: solid 1px olive 

