*
  margin: 0
  padding: 0
  border: 0

.backdrop
  background: #000
  border-radius: 5px
  min-width: 1000px
  padding: 10px
  text-align: center

.list
  list-style: none
  font-size: 0
  display: inline-block
  margin-bottom: 5px

.item
  display: inline-block
  list-style: none
  font-size: 0
  margin-left: 5px

.thumb
  border-radius: 5px
  display: inline-block
