.config-form-modal
  position: relative
  width: 500px
  padding: 60px 30px
  .control-label
    width: 18%
    margin-right: 20px
  .form-control
    width: 78%
  .help-block
    box-sizing: border-box
    margin-left: 18%
    padding-left: 20px
  h3
    position: absolute
    top: 15px
    left: @top
    font-size: 13px
    font-weight: 700
    color: #959595
